doctype html
html
  head
    block title
      title Emojipoll
    link(rel='stylesheet' href='/css/main.css')
    block styles
  body
    .map-container
      .map-header
        .main-logo
        block map-title
      .map-box
        block content

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.5.1/socket.io.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/4.3.0/d3.min.js')
    block scripts
