extends ../map-layout.pug

block content
  #map
  .js-poll(data-slug=poll.slug data-options=poll.options)

block styles
  link(rel='stylesheet' href='https://mapzen.com/js/mapzen.css')
  link(rel='stylesheet' href='/css/main.css')

block scripts
  script(src='https://mapzen.com/js/mapzen.min.js')
  script(src='/js/map.js')
